
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~vuejs-noty/dist/vuejs-noty.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
}
main {
 // margin-top: 50%;
}
.container{
  font-family: 'Noto Serif', Serif;
  justify-content: center;
  align-items: center;
  margin-top: 15% !important;
  margin-bottom: auto;
}
.outside{
  font-size: large;

}
#is{
  text-align:right;
}
#up{
  text-align: left;
}
.search-box{
  font-size: large;
  font-weight: bold;
  color: #275169d9;
  box-shadow: 1px 2px 14px -3px red !important;
}
@media (max-width: 768px) {
  .outside, .search-box {
    text-align: center !important;
  }
  .container{
    margin-top: 50% !important;
  }
  .result-url{
    font-family: 'Noto Serif', Serif;
    font-size: x-large !important;
    font-weight: bold;
    text-align: center !important;
    color: #275169d9;
  }
  .result-text{
    font-family: 'Noto Serif', Serif;
    font-size: large !important;
    text-align: center !important;
  }
}

@media (min-width: 769px) {
  .result-url{
    font-family: 'Noto Serif', Serif;
    font-size: xx-large;
    font-weight: bold;
    color: #275169d9;
  }
  .result-text{
    font-family: 'Noto Serif', Serif;
    font-size: xx-large;
  }
  .result-ms{
    font-family: 'Noto Serif', Serif;
    font-size: large;
  }

}
.result-row{
  margin-top: -2rem !important;
}
html, body {height: 100%;}
